{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Админ-панель</h1>
<nav>
    <a href="{% url 'core:start-page' %}" class="button">Главная</a>
    <a class="button" href="{% url 'admin:users' %}">Пользователи</a>
    <a class="button" href="{% url 'admin:content' %}">Контент</a>
    <a class="button" href="{% url 'admin:settings' %}">Настройки</a>
</nav>

<div class="container mt-4">
    <h2>Добро пожаловать в админ-панель!</h2>
    <p>Здесь вы можете управлять сайтом.</p>
</div>
{% endblock %}