{% extends "master.html" %}
{% load static %}

{% block bar_content %}
<!-- Приветственное сообщение -->
<div class="page-header">
    <h2>Панель администрирования</h2>
    <p>Здесь вы можете управлять сайтом</p>
</div>
{% endblock %}

{% block content %}
<div class="container" style="max-height:max-content; max-width:max-content">
    <a class="btn btn-primary" href="{% url 'admin:users' %}">Пользователи</a>
    <!--<a class="btn btn-primary" href="{% url 'admin:content' %}">Контент</a>
    <a class="btn btn-primary" href="{% url 'admin:settings' %}">Настройки</a>-->
</div>
{% endblock %}