{% extends 'master.html' %}
{% load static %}


{% block bar_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div style="padding-top: 0px" class="page-header">
    <h2>Форма {% if form.instance.pk %}редактирования{% else %}добавления{% endif %} товара</h2>
    <p>Здесь вы можете {% if form.instance.pk %}редактировать{% else %}добавить{% endif %} данные о товаре</p>
</div>
{% endblock %}


{% block content %}
<div style="max-width: max-content; max-height: min-content" class="card">
    <div class="card-header">
        <div class="card-title">Добавление поступления</div>
    </div>
    <div class="card-body">
        <div class="frm">
            <form method="post" novalidate>
                {% csrf_token %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}

                <div class="frm-grid">
                    <div class="frm-group">
                        <div>
                            <label for="{{ form.name.id_for_label }}" class="form-label">
                                <i style="margin-right: 0.5rem" class="fas fa-tag me-2"></i>{{ form.name.label }}
                            </label>
                            {{ form.name }}
                            {% for error in form.name.errors %}
                            <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div>
                            <label for="{{ form.category.id_for_label }}" class="form-label">
                                <i style="margin-right: 0.5rem" class="fas fa-tags me-2"></i>{{ form.category.label }}
                            </label>
                            {{ form.category }}
                            {% for error in form.category.errors %}
                            <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="frm-group">
                        <div>
                            <label for="{{ form.unit.id_for_label }}" class="form-label">
                                <i style="margin-right: 0.5rem" class="fas fa-balance-scale me-2"></i>{{ form.unit.label }}
                            </label>
                            {{ form.unit }}
                            {% for error in form.unit.errors %}
                            <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div>
                            <label for="{{ form.location.id_for_label }}" class="form-label">
                                <i style="margin-right: 0.5rem" class="fas fa-warehouse me-2"></i>{{ form.location.label }}
                            </label>
                            {{ form.location }}
                            {% for error in form.location.errors %}
                            <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="frm-group">
                        <div>
                            <label for="{{ form.quantity.id_for_label }}" class="form-label">
                                <i style="margin-right: 0.5rem" class="fas fa-boxes me-2"></i>Количество
                            </label>
                            {{ form.quantity }}
                            {% for error in form.quantity.errors %}
                            <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div>
                            <label for="{{ form.min_stock.id_for_label }}" class="form-label">
                                <i style="margin-right: 0.5rem" class="fas fa-exclamation-triangle me-2"></i>{{ form.min_stock.label }}
                            </label>
                            {{ form.min_stock }}
                            {% for error in form.min_stock.errors %}
                            <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="frm-group">
                        <div>
                            <label for="{{ form.description.id_for_label }}" class="form-label">
                                <i style="margin-right: 0.5rem" class="fas fa-align-left me-2"></i>{{ form.description.label }}
                            </label>
                            {{ form.description }}
                            {% for error in form.description.errors %}
                            <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="frm-group-button">
                            <button class="btn-xm btn-primary" type="submit">
                                <i style="margin-right: 0.5rem" class="fa-solid fa-floppy-disk">
                                </i>Сохранить
                            </button>
                            <a href="{% url 'products:list' %}" class="btn-xm">
                                <i style="margin-right: 0.5rem" class="fa-solid fa-xmark">
                                    </i>Отменить</a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="chart">
            <!-- График -->
        </div>
    </div>
</div>
{% endblock %}