{% extends "master.html" %}
{% load static %}


{% block bar_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css ">
<div style="padding-top: 0px" class="page-header">
    <h2>Форма регистрации прихода</h2>
    <p>Здесь вы можете регистрировать приход товаров</p>
</div>
{% endblock %}


{% block content %}
<div style="max-width: max-content; max-height: min-content" class="card">
    <div class="card-header">
        <div class="card-title">Добавление прихода</div>
    </div>
    <div class="card-body">
        <div class="frm">
            <form method="post">
                {% csrf_token %}
                <div class="frm-grid">
                    <div class="frm-group">
                        <div>
                            <label for="{{ form.product.id_for_label }}">Продукция:</label>
                            {{ form.product }}
                            {% if form.product.errors %}
                            <div class="error">{{ form.product.errors }}</div>
                            {% endif %}
                        </div>

                        <div>
                            <label for="{{ form.quantity.id_for_label }}">Количество:</label>
                            {{ form.quantity }}
                            {% if form.quantity.errors %}
                            <div class="error">{{ form.quantity.errors }}</div>
                            {% endif %}
                        </div>
                    </div>


                    <div class="frm-group">
                        <div>
                            <label for="{{ form.receipt_date.id_for_label }}">Дата поступления:</label>
                            {{ form.receipt_date }}
                            {% if form.receipt_date.errors %}
                            <div class="error">{{ form.receipt_date.errors }}</div>
                            {% endif %}
                        </div>

                        <div>
                            <label for="{{ form.invoice_number.id_for_label }}">Номер накладной:</label>
                            {{ form.invoice_number }}
                            {% if form.invoice_number.errors %}
                            <div class="error">{{ form.invoice_number.errors }}</div>
                            {% endif %}
                        </div>
                    </div>


                    <div class="frm-group">
                        <div>
                            <label for="{{ form.supplier.id_for_label }}">Поставщик:</label>
                            {{ form.supplier }}
                            {% if form.supplier.errors %}
                            <div class="error">{{ form.supplier.errors }}</div>
                            {% endif %}
                        </div>

                        <div>
                            <label for="{{ form.status.id_for_label }}">Статус:</label>
                            {{ form.status }}
                            {% if form.status.errors %}
                            <div class="error">{{ form.status.errors }}</div>
                            {% endif %}
                        </div>
                    </div>


                    <div class="frm-group">
                        <div>
                            <label for="{{ form.comment.id_for_label }}">Примечание:</label>
                            {{ form.comment }}
                            {% if form.comment.errors %}
                            <div class="error">{{ form.comment.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="frm-group-button">
                            <button class="btn-xm btn-primary" type="submit"><i style="margin-right: 0.5rem" class="fa-solid fa-floppy-disk">
                                   </i>Сохранить</button>
                            <a href="{% url 'store:store-settings' %}" class="btn-xm"><i style="margin-right: 0.5rem" class="fa-solid fa-xmark">
                                     </i>Отменить</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="chart">
            <!-- График -->
        </div>
    </div>
</div>
{% endblock %}