{% extends "master.html" %}
{% load static %}


{% block bar_content %}
<div style="padding-top: 0px" class="page-header">
    <h2>Форма регистрации расхода</h2>
    <p>Здесь вы можете регистрировать расход товаров</p>
</div>
{% endblock %}


{% block content %}
<div style="max-width: max-content; max-height: min-content" class="card">
    <div class="card-header">
        <div class="card-title">Добавление поступления</div>
    </div>
    <div class="card-body">
        <div class="frm">
            <form method="post">
                {% csrf_token %}
                <div class="frm-grid">
                    <div class="frm-group">
                        <div>
                            <label for="{{ form.product.id_for_label }}">Продукция:</label>
                            {{ form.product }}
                            {% if form.product.errors %}
                            <div class="error">{{ form.product.errors }}</div>
                            {% endif %}
                        </div>
                        <div>
                            <label for="{{ form.quantity.id_for_label }}">Количество:</label>
                            {{ form.quantity }}
                            {% if form.quantity.errors %}
                            <div class="error">{{ form.quantity.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="frm-group">
                        <div>
                            <label for="{{ form.dispatch_date.id_for_label }}">Дата отгрузки:</label>
                            {{ form.dispatch_date }}
                            {% if form.dispatch_date.errors %}
                            <div class="error">{{ form.dispatch_date.errors }}</div>
                            {% endif %}
                        </div>
                        <div>
                            <label for="{{ form.invoice_number.id_for_label }}">Номер накладной:</label>
                            {{ form.invoice_number }}
                            {% if form.invoice_number.errors %}
                            <div class="error">{{ form.invoice_number.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="frm-group">
                        <div>
                            <label for="{{ form.recipient.id_for_label }}">Получатель:</label>
                            {{ form.recipient }}
                            {% if form.recipient.errors %}
                            <div class="error">{{ form.recipient.errors }}</div>
                            {% endif %}
                        </div>
                        <div>
                            <label for="{{ form.status.id_for_label }}">Статус:</label>
                            {{ form.status }}
                            {% if form.status.errors %}
                            <div class="error">{{ form.status.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="frm-group">
                        <div>
                            <label for="{{ form.comment.id_for_label }}">Примечание:</label>
                            {{ form.comment }}
                            {% if form.comment.errors %}
                            <div class="error">{{ form.comment.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="frm-group-button">
                            <button class="btn-xm btn-primary" type="submit">Сохранить</button>
                            <a href="{% url 'store:store-settings' %}" class="btn-xm">Отменить</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="chart">
            <!-- График -->
        </div>
    </div>
</div>
{% endblock %}



<h1>Добавление отгрузки</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <div>
            <label for="{{ form.product.id_for_label }}">Продукция:</label>
            {{ form.product }}
            {% if form.product.errors %}
            <div class="error">{{ form.product.errors }}</div>
            {% endif %}
        </div>

        <div>
            <label for="{{ form.quantity.id_for_label }}">Количество:</label>
            {{ form.quantity }}
            {% if form.quantity.errors %}
            <div class="error">{{ form.quantity.errors }}</div>
            {% endif %}
        </div>
    </div>





    


    

    <div class="form-group">
        <button type="submit">Сохранить</button>
        <a href="{% url 'store:store-settings' %}" class="btn-xm">Отменить</a>
    </div>
</form>
