{% extends 'base.html' %}
{% load static %}
{% block title %}{% if place %}{{ "Редактирование" }} {% else %} {{ "Создание" }} {% endif %}места{% endblock %}

{% block content %}
<h2 style="margin-block-start: 0.5em">{% if place %}{{ "Редактирование" }} {% else %} {{ "Создание" }} {% endif %}места</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-sm">Сохранить</button>
</form>
<!--Подключаем стили-->
<link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock %}