{% extends "master.html" %}
{% load static %}


{% block bar_content %}
<div style="padding-top: 0px" class="page-header">
    <h2>Форма добавления поставщика</h2>
    <p>Здесь вы можете добавить данные о поставщике</p>
</div>
{% endblock %}

{% block content %}
<div style="max-width: max-content; max-height: min-content" class="card">
    <div class="card-header">
        <div class="card-title">Добавление поступления</div>
    </div>
    <div class="card-body">
        <div class="frm">
            <form method="post">
                {% csrf_token %}
                <div class="frm-grid">
                    <div class="frm-group">
                        <div>
                            <label for="{{ form.name.id_for_label }}">Название компании:</label>
                            {{ form.name }}
                            {% if form.name.errors %}
                            <div class="error">{{ form.name.errors }}</div>
                            {% endif %}
                        </div>
                        <div>
                            <label for="{{ form.contact_person.id_for_label }}">Контактное лицо:</label>
                            {{ form.contact_person }}
                            {% if form.contact_person.errors %}
                            <div class="error">{{ form.contact_person.errors }}</div>
                            {% endif %}
                        </div>
                    </div>


                    <div class="frm-group">
                        <div>
                            <label for="{{ form.email.id_for_label }}">Электронная почта:</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                            <div class="error">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>
                        <div>
                            <label for="{{ form.phone.id_for_label }}">Телефон:</label>
                            {{ form.phone }}
                            {% if form.phone.errors %}
                            <div class="error">{{ form.phone.errors }}</div>
                            {% endif %}
                        </div>
                    </div>


                    <div class="frm-group">
                        <div>
                            <label for="{{ form.address.id_for_label }}">Адрес:</label>
                            {{ form.address }}
                            {% if form.address.errors %}
                            <div class="error">{{ form.address.errors }}</div>
                            {% endif %}
                        </div>
                        <div>
                            <label for="{{ form.website.id_for_label }}">Веб-сайт:</label>
                            {{ form.website }}
                            {% if form.website.errors %}
                            <div class="error">{{ form.website.errors }}</div>
                            {% endif %}
                        </div>
                    </div>


                    <div class="frm-group">
                        <div>
                            <label for="{{ form.notes.id_for_label }}">Примечания:</label>
                            {{ form.notes }}
                            {% if form.notes.errors %}
                            <div class="error">{{ form.notes.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="frm-group-button">
                            <button class="btn-xm btn-primary" type="submit">Сохранить</button>
                            <a href="{% url 'store:suppliers-list' %}" class="btn-xm">Отменить</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="chart">
            <!-- График -->
        </div>
    </div>
</div>
{% endblock %}
