{% extends "master.html" %}
{% load static %}


{% block bar_content %}
<!-- Приветственное сообщение -->
<div class="page-header">
    <div>
        <a href="{% url 'store:suppliers-list' %}" class="btn-return">⮜ Назад</a>
    </div>
    <h2>Детали поставщика: {{ supplier.name }}</h2>
</div>
{% endblock %}


{% block content %}


<div style="max-width:fit-content; max-height: fit-content" class="card">
    <div class="card-body">
        <p>contact_person: {{ supplier.contact_person }}</p>
        <p>email: {{ supplier.email }}</p>
        <p>phone: {{ supplier.phone }}</p>
        <p>address: {{ supplier.address }}</p>
        <p>website: {{ supplier.website }}</p>
        <p>notes: {{ supplier.notes }}</p>
    </div>
</div>

{% endblock %}

<!-- Основные поля -->
<div class="">
    <div class="card-body">
        <p style="margin-left: 1rem" class="card-text">
        <p>contact_person: {{ supplier.contact_person }}</p>
        <p>email: {{ supplier.email }}</p>
        <p>phone: {{ supplier.phone }}</p>
        <p>address: {{ supplier.address }}</p>
        <p>website: {{ supplier.website }}</p>
        <p>notes: {{ supplier.notes }}</p>
        </p>
    </div>
</div>

