{% extends "master.html" %}
{% load static %}


{% block bar_content %}
<div style="padding-top: 0px" class="page-header">
    <h2>Подтверждение удаления</h2>
</div>
{% endblock %}


{% block content %}
<div style="max-width:fit-content; max-height: fit-content" class="card">
    <div class="card-header">
        <div style="color: black" class="card-title">Вы уверены, что хотите удалить "{{ supplier.name }}"?</div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div style="padding-top: 0" class="frm-group-button">
            <button class="btn-xm btn-primary" type="submit">Удалить</button>
            <a href="{% url 'store:suppliers-list' %}" class="btn-xm">Отменить</a>
        </div>
    </form>
</div>
{% endblock %}
