{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Детали поставщика: {{ supplier.name }}</h1>

<!-- Навигация -->
<a href="{% url 'store:suppliers-list' %}" class="btn-sm">
    Назад к списку
</a>

<!-- Основные поля -->
<div class="">
    <div class="card-body">
        <p style="margin-left: 1rem" class="card-text">
        <p>contact_person: {{ supplier.contact_person }}</p>
        <p>email: {{ supplier.email }}</p>
        <p>phone: {{ supplier.phone }}</p>
        <p>address: {{ supplier.address }}</p>
        <p>website: {{ supplier.website }}</p>
        <p>notes: {{ supplier.notes }}</p>
        </p>
    </div>
</div>


<!-- Подключаем стили -->
<link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock %}