{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Детали поставщика: {{ supplier.name }}</h1>

<!-- Навигация -->
<a href="{% url 'store:suppliers-list' %}" class="btn-sm">
    Назад к списку
</a>

<!-- Основные поля -->
<div class="">
    <div class="card-body">
        <p style="margin-left: 1rem" class="card-text">
            <strong>contact_person:</strong> {{ supplier.contact_person }}<br>
            <strong>email:</strong> {{ supplier.email }}<br>
            <strong>phone:</strong> {{ supplier.phone }}<br>
            <strong>address:</strong>
            {{ supplier.address }}<br>
            <strong>website:</strong>
            {{ supplier.website }}<br>
            <strong>notes:</strong>
            {{ supplier.notes }}
        </p>
    </div>
</div>


<!-- Подключаем стили -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}