{% extends "login_base.html" %}

{% block content %}
{% csrf_token %}
<h2>Создание суперпользователя</h2>
<div class="input-group">
    <p class="{% if form.errors %}error{% endif %}">
        <label>Username:</label>
        <input type="text" name="username" required>
    </p>
</div>
<div class="input-group">
    <p class="{% if form.errors %}error{% endif %}">
        <label>Email:</label>
        <input type="email" name="email">
    </p>
</div>
<div class="input-group">
    <p class="{% if form.errors %}error{% endif %}">
        <label>Password:</label>
        <input type="password" name="password" required>
    </p>
</div>
<button type="submit" class="primary-button">Создать</button>
{% endblock %}