{% extends "base.html" %}

{% block content %}
<div class="login-form">
    <h2>Создание суперпользователя</h2>
    <form method="post">
        {% csrf_token %}
        <p class="{% if form.errors %}error{% endif %}">
            <label>Username:</label>
            <input type="text" name="username" required>
        </p>
        <p class="{% if form.errors %}error{% endif %}">
            <label>Email:</label>
            <input type="email" name="email">
        </p>
        <p class="{% if form.errors %}error{% endif %}">
            <label>Password:</label>
            <input type="password" name="password" required>
        </p>

        <button type="submit" class="login-button">Войти</button>
    </form>
</div>

{% endblock %}