{% extends "master.html" %}
{% load static %}

{% block bar_content %}
<!-- Приветственное сообщение -->
<div class="page-header">
    <h2>Добро пожаловать в Invy</h2>
    <p>Система управления складом для эффективного отслеживания товаров и операций.</p>
</div>
{% endblock %}


<!-- Краткий обзор остатков -->
{% block content %}
<!-- Общее количество товаров -->
<div class="card">
    <div class="card-header">
        <div style="color: green" class="card-title">Общее количество товаров</div>
    </div>
    <div class="card-body">
        <div class="metrics">
            <div class="card-number">{{ total_products }}</div>
            <div>на складе</div>
            <div class="card-pl">
                <ul>
                    {% for product_name in all_product_names %}
                    <li>{{ product_name }}</li>
                    {% empty %}
                    <li>Нет товаров</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Минимальные остатки -->
<div class="card">
    <div class="card-header">
        <div style="color: orange" class="card-title">Товары с низкими остатками</div>
    </div>
    <div class="card-body">
        <div class="metrics">
            <div class="card-number">{{ low_stock_products }}</div>
            <div>на складе</div>
            <div class="card-pl">
                <ul>
                    {% for product_name in low_stock_product_names %}
                    <li>{{ product_name }}</li>
                    {% empty %}
                    <li>Нет товаров с низкими остатками</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Критические остатки -->
<div class="card">
    <div class="card-header">
        <div style="color: orangered" class="card-title">Критические остатки</div>
    </div>
    <div class="card-body">
        <div class="metrics">
            <div class="card-number">{{ out_of_stock_products }}</div>
            <div>товаров требуют срочного заказа</div>
            <div class="card-pl">
                <ul>
                    {% for product_name in out_of_stock_product_names %}
                    <li>{{ product_name }}</li>
                    {% empty %}
                    <li>Нет товаров с критическими остатками</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!--&lt;!&ndash; Ссылки на основные разделы &ndash;&gt;-->
<!--<div class="d-grid gap-3">-->
<!--    {% if user.role == 'admin' or user.role == 'superadmin' %}-->
<!--    <a href="{% url 'store:store-settings' %}" class="button">Управление складом</a>-->
<!--    {% endif %}-->
<!--    <a href="{% url 'products:list' %}" class="button">Управление товарами</a>-->
<!--    {% if user.role == 'superadmin' %}-->
<!--    <a href="{% url 'admin:admin-panel' %}" class="button">Админ-панель</a>-->
<!--    {% endif %}-->
<!--</div>-->
{% endblock %}