<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    {% load static %}
    <!--Подключаем стили-->
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
</head>
<body>
    <!-- Шапка -->
    <div class="header">
        <div class="logo" id="homeLink">
            <img src="{% static 'images/logo2.svg' %}" alt="Logo">
            <span>Invy</span>
        </div>
        <ul class="nav-tabs">
            <li><a href="/" class="active">Главная</a></li>
            <li><a href="{% url 'store:store-settings' %}">Операции</a></li>
            <li><a href="{% url 'products:list' %}">Товары</a></li>
            <li><a href="{% url 'store:suppliers-list' %}">Поставщики</a></li>
            <li><a href="#">Отчеты</a></li>
        </ul>
        <div class="user-profile">
            <form id="logoutForm" action="{% url 'auth:logout' %}" method="post">
                {% csrf_token %}
            </form>
            <img id="logoutImg" src="{% static 'images/logout2.svg' %}" alt="logout">
        </div>
    </div>

    <!-- Поиск и фильтры -->
    <div class="search-bar">
        <div class="search-input">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
            <input type="text" placeholder="Search...">
        </div>
        <!--div class="pagination"-->
    </div>

    <!-- Основной контент -->
    <div class="main-content">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Receipts</div>
                <button class="action-btn">4 To Receive</button>
            </div>
            <div class="card-body">
                <div class="metrics">
                    <div>Late Operations</div>
                    <div>4</div>
                </div>
                <div class="chart">
                    <!-- График -->
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="card-title">Delivery Orders</div>
                <button class="action-btn">16 To Deliver</button>
            </div>
            <div class="card-body">
                <div class="metrics">
                    <div>Waiting Late Operations</div>
                    <div>7</div>
                </div>
                <div class="chart">
                    <!-- График -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    document.getElementById('logoutImg').addEventListener('click', function () {
        document.getElementById('logoutForm').submit();
    });
</script>
<script>
    document.getElementById('homeLink').addEventListener('click', function () {
        window.location.href = '{% url "core:start-page" %}';
    });
</script>